body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 255, 209);

}

.button-download {
    display: inline-block;
    background-color: limegreen;
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px green;
  }

  .button-download:hover {
    background-color: darkgreen;
  }

  .button-download-outro{
    display: inline-block;
    background-color: rgb(1, 190, 190);
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(1, 190, 190);

  }

  .button-download-outro:hover{
    background-color: rgb(0, 100, 100);
  }

  .button-download-alter{
    display: inline-block;
    background-color: rgb(50, 86, 205);
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(50, 86, 205);
  }

  .button-download-alter:hover{
    background-color: rgb(18, 31, 73);
  }

  .warning {
    background-color: yellow;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    color: red;
    border: 2px solid red;
    text-align: center;
  }